{# ----------------- Create Topics for app ----------------- #}
{% macro create_topics(app) %}

{# Stream Topics #}
{% for topicName in app.streamTopics | default([]) %}
---
apiVersion: "kafka.jikkou.io/v1beta2"
kind: KafkaTopic
metadata:
  name: "{{ topicName }}"
  labels: 
    app: "{{ app.name }}"
spec:
  partitions: {{ system.env.KAFKA_TOPIC_PARTITIONS | default(values.partitions) }}
  replicas: {{ system.env.KAFKA_TOPIC_REPLICAS | default(values.replicas) }}
  configs: 
    cleanup.policy: delete
    min.insync.replicas: {{ system.env.KAFKA_TOPIC_MIN_INSYNC_REPLICAS | default(values.minInsyncReplicas) }}
    retention.ms: {{ system.env.KAFKA_TOPIC_RETENTION_MS | default(values.retentionMs) }} 
{% endfor %}

{# Table Topics #}
{% for topicName in app.tableTopics | default([]) %}
---
apiVersion: "kafka.jikkou.io/v1beta2"
kind: KafkaTopic
metadata:
  name: "{{ topicName }}"
  labels: 
    app: "{{ app.name }}"
spec:
  partitions: 1
  replicas: 1
  configs:
    cleanup.policy: compact
    min.insync.replicas: {{ system.env.KAFKA_TOPIC_MIN_INSYNC_REPLICAS | default(values.minInsyncReplicas) }}
    delete.retention.ms: {{ system.env.KAFKA_TOPIC_DELETE_RETENTION_MS | default(values.deleteRetentionMs) }}
{% endfor %}

{# macro not needed at the moment but it allows for more custom topic creation #}
{% for topic in app.customTopics | default([]) %}
---
apiVersion: "kafka.jikkou.io/v1beta2"
kind: KafkaTopic
metadata:
  name: "{{ topic.topicName }}"
  labels: 
    app: "{{ app.name }}"
spec:
  partitions: {{ topic.partitions | default(values.partitions) }}
  replicas: {{ system.env.KAFKA_TOPIC_REPLICAS | default(values.replicas) }}
  configs:
    cleanup.policy: {{ topic.cleanUpPolicy | default(delete) }}
    min.insync.replicas: {{ system.env.KAFKA_TOPIC_MIN_INSYNC_REPLICAS | default(values.minInsyncReplicas) }}
    delete.retention.ms: {{ system.env.KAFKA_TOPIC_DELETE_RETENTION_MS | default(values.deleteRetentionMs) }}
{% endfor %}

{% endmacro %}

{{ create_topics(values.apps.kafkaconnect) }}

{#-------  Create topics for apps with env variable = true ----------#}
{% if system.env.KAFKA_TOPIC_CREATE_ODE %}
{{ create_topics(values.apps.ode) }}
{% endif %}

{% if system.env.KAFKA_TOPIC_CREATE_GEOJSONCONVERTER %}
{{ create_topics(values.apps.geojsonconverter) }}
{% endif %}

{% if system.env.KAFKA_TOPIC_CREATE_CONFLICTMONITOR %}
{{ create_topics(values.apps.conflictmonitor) }}
{% endif %}

{% if system.env.KAFKA_TOPIC_CREATE_DEDUPLICATOR %}
{{ create_topics(values.apps.deduplicator) }}
{% endif %}

{% if system.env.KAFKA_TOPIC_CREATE_MECDEPOSIT %}
{{ create_topics(values.apps.mecdeposit) }}
{% endif %}
