{% for app in values.apps %}

#------------------------------------------------------------------
# Stream Topics for {{ app.name }}
#------------------------------------------------------------------
{% for topicName in app.streamTopics %}
---
apiVersion: "kafka.jikkou.io/v1beta2"
kind: KafkaTopic
metadata:
  name: "{{ topicName }}"
  labels: 
    app: "{{ app.name }}"
spec:
  partitions: {{ system.env.KAFKA_TOPIC_PARTITIONS | default(values.defaultPartitions) }}
  replicas: {{ system.env.KAFKA_TOPIC_REPLICAS | default(values.defaultReplicas) }}
  configMapRefs: 
    - StreamTopic
{% endfor %}

#------------------------------------------------------------------
# Compact Topics for {{ app.name }}
#------------------------------------------------------------------
{% for topicName in app.compactTopics %}
---
apiVersion: "kafka.jikkou.io/v1beta2"
kind: KafkaTopic
metadata:
  name: "{{ topicName }}"
  labels: 
    app: "{{ app.name }}"
spec:
  partitions: 1
  replicas: 1
  configMapRefs:
    - CompactTopic
{% endfor %}

{% endfor %}

#------------------------------------------------------------------
# Config Maps
#------------------------------------------------------------------
---
apiVersion: "core.jikkou.io/v1beta2"
kind: ConfigMap
metadata:
  name: StreamTopic
data:
  cleanup.policy: 'delete'
  min.insync.replicas: {{ system.env.KAFKA_TOPIC_MIN_INSYNC_REPLICAS | default(values.defaultMinInsyncReplicas) }}
  retention.ms: {{ system.env.KAFKA_TOPIC_RETENTION_MS | default(values.defaultRetentionMs) }}
---
apiVersion: "core.jikkou.io/v1beta2"
kind: ConfigMap
metadata:
  name: CompactTopic
data:
  cleanup.policy: 'compact'
  min.insync.replicas: {{ system.env.KAFKA_TOPIC_MIN_INSYNC_REPLICAS | default(values.defaultMinInsyncReplicas) }}



